/*
    RESET
*/
* { margin: 0; padding: 0; }
.clear { clear: both; }
img, a img { border: none; }
input { outline: none; }

.background {
  background-color: transparent;
  height: 99.3vh;
  
  border: 2px solid black;
  resize: both;

}

.settingsButton {
  height:50vh;
  position: absolute;
  top: 10%;
  left: 10%;
  resize: both; 
  overflow: scroll;


}

.img2:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 10px 10px 5px #888888;
}

p {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
.mic {
    animation: blink 1s;
    animation-iteration-count: infinite;
}
